.skip-link {
	background-color: var(--color-1);
	border: 0;
	clip: rect(0 0 0 0);
	color: #000 !important;
	display: inline-block;
	height: 1px;
	left: 1rem;
	line-height: 1;
	margin: -1px;
	overflow: hidden;
	padding: 1rem;
	position: fixed;
	top: 1rem;
	width: 1px;

	&:focus {
		display: block;
		clip: auto;
		height: auto;
		width: auto;
		z-index: 100000;
	}
}
