.pagination.navigation {
	border-top: var(--base-border);
	max-width: var(--max-width-pagination);
	padding: var(--spacing-2) 0;
	margin: var(--spacing-8) auto;
	text-align: center;
}

.nav-links {
	display: block;
	max-width: var(--max-width-content);
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.page-numbers {
	display: inline-block;
	text-align: center;
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	padding: 0 0.5em;
}

.page-numbers.prev {
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
}

.page-numbers.next {
	text-align: left;
	position: absolute;
	top: 0;
	right: 0;
}
